<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <small class="text-muted"> Tal Hazi &copy; YelpCamp 2022 | 
            <a class="text-muted" href="/about">About</a> | 
            <a class="text-muted" href="https://github.com/talhazi/YelpCamp">Github</a>
        </small>
    </div>
</footer>